ul{
  list-style-type: none;
}

.button-play:hover, 
.button-credits:hover {
  background-color: #B30D5D;
  background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
  background-image:         linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
  cursor: pointer;
} 

#defaultCanvas0{
  display: block;
}

#main{
  background-color:rgb(55, 170, 59);
  background-image:url("graphics/menuBack.jpg");
  background-position:50% 50%;
  background-size:contain;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#credits{
  visibility: hidden;
}
 

#background-select{
  background-image:url("graphics/skyline.png");
  background-position:50% 50%;
  background-size:contain;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#fpb{
  font-family: 'Segoe UI';
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: fixed;
  font-size: 400%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}


@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.button-play {
  font-family: 'Segoe UI';
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #AA2666;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image: linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.choose-character {
  font-family: 'Segoe UI';
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #AA2666;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image: linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-credits {
  font-family: 'Segoe UI';
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #AA2666;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image: linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
  position: fixed;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#developers{
  font-family: 'Segoe UI';
  font-size: 22px;
  color: darkorange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-60%, -50%);
}

#tit-credit{
  font-family: 'Segoe UI';
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-back{
  font-family: 'Segoe UI';
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #AA2666;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image: linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*********************************************************/
@-webkit-keyframes animacao1 { 0% {background: #D62623;}
							   50% {background: #EE3430;}
							   100% {background: #FB3733;} }

@-moz-keyframes animacao1 { 0% {background: #D62623;}
							50% {background: #EE3430;}
							100% {background: #FB3733;} }

@keyframes animacao1 { 0% {background: #D62623;}
							   50% {background: #EE3430;}
							   100% {background: #FB3733;} }

body {
  background: #B0E0E6;
  background-image: url("graphics/skyline.png");
}

#tudo {
    width: 750px;
		height: 580px;
		margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    	border-radius: 40px;
    	-webkit-animation-name: animacao1;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function:  linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;

		-moz-animation-name: animacao1;
		-moz-animation-duration: 1s;
		-moz-animation-timing-function:  linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: alternate; 

		animation-name: animacao1;
		animation-duration: 1s;
		animation-timing-function:  linear;
		animation-iteration-count: infinite;
    animation-direction: alternate;
  }


.gameover {
      width:750px;
			height: auto;
			padding-top: 60px;
      background: none;
      display: flex;
      align-items: center;
    }

.gameover p {
      margin-top: 0px;
			margin-bottom: 0px;
			font-size: 130px;
      font-family: 'Segoe UI';
			line-height: 120px;
			text-align: center;
			text-shadow: 5px 5px #000000;
			color: #ffffff;}

.continue	{width: 750px;
			height: auto;
			padding-top: 40px;}

.continue p {margin-top: 0px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 40px;
			font-weight: bold;
			font-family: corbel;
			color: #ffffff;
			text-shadow: 2.5px 2.5px #000000;}

.opcoes {
    width: 550px;
		height: auto;
    padding-top: 50px;
    padding-left: 100px;
    margin: auto;
  }

.yes a {text-align: center;
		font-size: 30px;
		font-weight: bold;
		font-family: corbel;
		color: #ffffff;
		text-decoration: none;
		text-shadow: 2.5px 2.5px #000000;
		padding: 25px 110px 25px 110px;
    border: 1px solid #000000;
		border-radius: 20px;
		background: #006400;
		margin-right: 30px;
		float: left;}



@-webkit-keyframes animacao2 { from {-webkit-transform: scale(1);} 
								to {-webkit-transform: scale(1.2);} }

@-moz-keyframes animacao2 { from {-moz-transform: scale(1);} 
								to {-moz-transform: scale(1.1);} }

@keyframes animacao2 { from {transform: scale(1);} 
								to {transform: scale(1.1);} }


.yes a:hover {-webkit-animation-name: animacao2;
		-webkit-animation-duration: 0.8s;
		-webkit-animation-timing-function:  linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;

		-moz-animation-name: animacao2;
		-moz-animation-duration: 0.8s;
		-moz-animation-timing-function:  linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: alternate;

		animation-name: animacao2;
		animation-duration: 0.8s;
		animation-timing-function:  linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;}



.no a {text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: corbel;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 1.5px 1.5px #FB3733;
	padding: 25px 100px 25px 100px;
	border-radius: 20px;
	background: #000000;
  float: left;
}


#original-flappy-div{
  position: fixed;
  top: 22.5%;
  left: 25%;
  transition: transform .2s; /* Animation */
}

#original-pidgeot-div{
  position: fixed;
  top: 33%;
  left:40%;
  transition: transform .2s; /* Animation */
}

#original-penguin-div{
  position: fixed;
  top: 33%;
  left:60%;
  transition: transform .2s; /* Animation */
}

#original-dragon-blurred{
  position: fixed;
  top: 30%;
  left:75%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#lock{
  width: 100px;
  height: 100px;
  position: fixed;
  top: 37%;
  left:78%;
}


#lock:hover, #original-dragon-blurred:hover{
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#original-dragon{
  position: fixed;
  transition: transform .2s; /* Animation */
  top: 30%;
  left:75%;
  visibility: hidden;
}
#pScore{
  position: fixed;
  top: 53%;
  left:80%;
}


#title-character{
  top: 25%;
  left: 50%;
  font-family: 'Segoe UI';
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transform: translate(-50%, -50%);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#original-dragon:hover, #original-character:hover, #original-pidgeot:hover, #original-penguin:hover{
  transform: scale(1.3);
}